---
import Default from '../../components/layouts/Default.astro';
import Container from '../../components/base/Container.astro';
import Section from '../../components/base/Section.astro';
import { getCollection } from 'astro:content';
import ParentCard from '../../components/docs/ParentCard.astro';

const docs = await getCollection('docs', (doc) => !doc.data.parent);
---

<Default title="Panduang Menggunakan Aplikasi Kasir" titleAppend>
  <Container>
    <Section
      title="Panduan Menggunakan Aplikasi Kasir OpenPos"
      subtitle="Tutorial menggunakan aplikasi OpenPos, cara menginstal, menggunakan fitur, dsb."
      lead="Panduan"
      leadIcon="tabler:book"
    >
      <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        {docs.map((doc) => <ParentCard doc={doc} />)}
      </div>
    </Section>
  </Container>
</Default>
