---
import Container from '../base/Container.astro';
import { Icon } from 'astro-icon/components';
import Logo from './Logo.astro';
---

<Container
  tag="footer"
  class="py-10 flex flex-col items-center text-center gap-6 relative lg:flex-row lg:justify-between"
>
  <Logo />
  <ul
    class="flex flex-col items-center gap-2 md:flex-row md:gap-4 lg:absolute lg:left-1/2 lg:-translate-x-1/2"
  >
    <li>
      <a
        class="flex items-center gap-2 text-gray-500 hover:text-gray-900"
        href="https://wa.me/6282443213"
        ><Icon name="tabler:phone" />+62 8224 3213</a
      >
    </li>
    <li>
      <a
        class="flex items-center gap-2 text-gray-500 hover:text-gray-900"
        href="mailto:openpos@narakode.id"
        ><Icon name="tabler:mail" />openpos@narakode.id</a
      >
    </li>
  </ul>
  <p class="text-gray-500 text-sm">&copy; 2026 OpenPos All rights reserved.</p>
</Container>
