---
import { Image } from 'astro:assets';
import Logo from '../../assets/logo.png';
---

<footer>
  <Image src={Logo} alt="OpenPos - Logo" />
  <a href="/">OpenPos</a>
  <ul>
    <li>
      <a href="#features">+62 8224 3213</a>
    </li>
    <li>
      <a href="#pricing">openpos@narakode.id</a>
    </li>
  </ul>
  <p>&copy; 2026 OpenPos All rights reserved.</p>
</footer>
