---
import { Icon } from 'astro-icon/components';
import Container from '../base/Container.astro';
import Button from '../base/Button.astro';
import Logo from './Logo.astro';
---

<nav class="h-16 border-b border-gray-200 flex items-center relative">
  <Container class="flex items-center justify-between">
    <Logo />
    <button id="navbar-toggle" class="md:hidden" title="Buka Menu Navigasi">
      <Icon name="tabler:menu-2" class="text-gray-700" />
    </button>
    <div
      id="navbar-content-wrapper"
      class="hidden opacity-0 transition fixed top-0 right-0 bg-black/50 h-screen w-full md:block md:opacity-100 md:static md:bg-transparent md:h-auto md:w-auto"
    >
      <div
        id="navbar-content"
        class="bg-white w-64 ml-auto h-full p-6 space-y-4 transition translate-x-full relative md:static md:translate-none md:bg-transparent md:w-auto md:space-y-0 md:p-0"
      >
        <div class="text-right absolute top-4 right-4 md:hidden">
          <button title="Tutup Menu Navigasi" id="navbar-close">
            <Icon name="tabler:x" class="text-gray-700" />
          </button>
        </div>
        <ul
          class="flex flex-col gap-4 text-gray-700 md:absolute md:left-1/2 md:gap-8 md:text-gray-500 mt-8 md:mt-0 md:flex-row md:-translate-x-1/2 md:h-full md:top-0 md:items-center"
        >
          <li>
            <a href="#features" class="hover:text-gray-900">Fitur</a>
          </li>
          <li>
            <a href="#pricing" class="hover:text-gray-900">Harga</a>
          </li>
          <li>
            <a href="/docs" class="hover:text-gray-900">Panduan</a>
          </li>
        </ul>
        <hr class="border-gray-200 md:hidden" />
        <Button tag="a" href="/try" class="w-full h-10 md:h-9 px-3.5 rounded-lg"
          >Coba Gratis</Button
        >
      </div>
    </div>
  </Container>
</nav>

<script>
  const navbarToggle = document.querySelector('#navbar-toggle')!;
  const navbarClose = document.querySelector('#navbar-close')!;
  const navbarContentWrapper = document.querySelector(
    '#navbar-content-wrapper',
  )!;
  const navbarContent = document.querySelector('#navbar-content')!;

  navbarToggle.addEventListener('click', () => {
    navbarContentWrapper.classList.remove('hidden');

    requestAnimationFrame(() => {
      navbarContentWrapper.classList.remove('opacity-0');
      navbarContentWrapper.classList.add('opacity-100');

      navbarContent.classList.remove('translate-x-full');
      navbarContent.classList.add('translate-x-0');
    });
  });

  navbarClose.addEventListener('click', () => {
    closeNavbar();
  });

  navbarContentWrapper.addEventListener('click', (e) => {
    if (navbarContentWrapper.classList.contains('opacity-100')) {
      if (!navbarContent.contains(e.target as HTMLElement)) {
        closeNavbar();
      }
    }
  });

  function closeNavbar() {
    navbarContentWrapper.classList.add('opacity-0');
    navbarContentWrapper.classList.remove('opacity-100');

    navbarContent.classList.add('translate-x-full');
    navbarContent.classList.remove('translate-x-0');

    setTimeout(() => navbarContentWrapper.classList.add('hidden'), 300);
  }
</script>
